nav {
    margin-bottom: 2em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
      
  }
  
 #btnRightSpacing {
     margin-right: 1em;
 }
 
 #delete-inline {
     display: inline;
 }
 
.btn-warning {
    color: #fff;
}

.btn-warning {
    color: #fff;
}

input[type="checkbox"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="checkbox"] + label::before {
    content: url('checkbox.png');
}

input[type="checkbox"]:checked + label::before {
    content: url('checkbox-checked.png');
}