<% include ../partials/header %>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-left text-uppercase">Edit Question</h3>
      <br></br>
      <form action="/surveys/<%= survey_id %>/questions/<%= question._id %>?_method=PUT" method="post">
        <div class="form-group">
          <label for="name">Question Title</label>
          <input type="text" class="form-control" name="question[text]" value="<%= question.text %>" required>
        </div>
        
        <div class="form-group">
          <label for="name">Instructions</label>
          <input type="text" class="form-control" name="question[instruction]">
        </div>
        
        <br></br>
        <br></br>
        
        <p>Options: </p>
        
        <div class="form-group">
          <label for="option1">Answer 1</label>
          <input type="text" class="form-control" name="option1">
        </div>
        
        <div class="form-group">
          <label for="option2">Answer 2</label>
          <input type="text" class="form-control" name="option2">
        </div>
        
        <div class="form-group">
          <label for="option3">Answer 3</label>
          <input type="text" class="form-control" name="option3">
        </div>
        
        
        <button type="submit" class="btn btn-primary float-right">Edit Question</button>
        
        <a class="btn btn-secondary float-left" href="/surveys/<%= survey_id %>">Go Back</a>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>